In [144]:
import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [160]:
df = pd.read_csv('housing/output.csv')
df.head()

df = df.dropna(subset=['BEDS', 'BATHS', 'SQUARE_FEET', 'CITY', 'PRICE'])
df['CITY'] = df.apply(lambda row : row['CITY'].upper().strip(), axis=1)
df['HOA'] = df['HOA'].fillna(0)

In [161]:
city_encodings = pd.get_dummies(df['CITY'])
property_type_encodings = pd.get_dummies(df['PROPERTY_TYPE'])
filtered_df = df[['BEDS', 'BATHS', 'SQUARE_FEET', 'HOA', 'PRICE']]

merged = pd.concat([filtered_df, city_encodings, property_type_encodings], axis=1)
merged.head()

,BEDS,BATHS,SQUARE_FEET,HOA,PRICE,BELMONT,BURLINGAME,CAMPBELL,CUPERTINO,DALY CITY,...,STANFORD,SUNNYVALE,UNION CITY,WOODSIDE,CONDO,MOBILE_HOME,MULTI_FAMILY_2_4,MULTI_FAMILY_5,SINGLE_FAMILY_HOME,TOWNHOUSE
0,3.0,3.5,1925.0,250.0,1094000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,4.0,4.5,1917.0,121.0,1375000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2.0,1.5,1006.0,323.0,600000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3.0,2.0,1117.0,0.0,1375000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4.0,2.0,1324.0,0.0,1300000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [162]:
final = merged.drop(['BELMONT', 'TOWNHOUSE'], axis=1)

X = final.drop(['PRICE'], axis=1)
y = final['PRICE']

y.head()

0    1094000.0
1    1375000.0
2     600000.0
3    1375000.0
4    1300000.0
Name: PRICE, dtype: float64

In [177]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = LinearRegression().fit(X_train, y_train)

model.score(X_test, y_test)

0.787401049206602